doctype html
html(ng-app="<%= _.slugify(_.humanize(projectName)) %>", prefix="og: http://ogp.me/ns#")
	head
		include components/stylesheets
		include components/meta

		base(href='/')

		title <%= projectName %>

	body
		div(header)

		div.mainContent
			div.container
				block body

		div(footer)