doctype html
html(ng-app="<%= _.slugify(_.humanize(projectName)) %>", prefix="og: http://ogp.me/ns#")
	head
		include components/stylesheets
		include components/meta

		base(href='/')

		title <%= projectName %>

	body
		div(header)

		div.mainContent
			div.container
				block body

		div(footer)

		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.min.js')
		<%
			if (!useUiRouter) {
				print("script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js')");
			}
		%>

		script(src='js/lib/bower_components/lodash/dist/lodash.compat.min.js')
		script(src='js/lib/bower_components/moment/min/moment.min.js')
		script(src='js/lib/bower_components/underscore.string/dist/underscore.string.min.js')

		<%
			if (useUiRouter) {
				print("script(src='js/lib/bower_components/angular-ui-router/release/angular-ui-router.min.js')");
			}
		%>

		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
